TELEGRAM_BOT_TOKEN=replace-me
COUPANG_USERNAME=replace-me
COUPANG_PASSWORD=replace-me
COUPANG_LOGIN_URL=https://login.coupang.com/login/login.pang
COUPANG_CART_URL=https://cart.coupang.com/cartView.pang
DEFAULT_CURRENCY=KRW
